/* Projektin tyylit */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --tausta: #3b4451; /* #333333; */
    --teksti: #eeeeee;
    --bg-dark: #444444;
    --bg-black: #000000;
}

* {
    box-sizing: border-box;
}
/* Yleiskäyttöiset tyylit */

/* Vertikaalinen keskitys */
.v-center {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

/* Horisontaalinen tasaus oikealle */
.h-right {
    position: absolute;
    right: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: var(--tausta);
    color: var(--teksti);
}

/* Kriteerit muotoilu */
body.kriteerit table,
body.kriteerit th,
body.kriteerit td {
    border: 1px solid #eeeeee;
    color: var(--teksti)
}

/* Header */
header {
    background-color: var(--bg-black);
    color: var(--teksti);
    padding: 10px;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: var(--teksti) solid 5px;
}

header .logo {
    float: left;
    font-size: 2em;
}

header .logo img {
    rotate: -25deg;
    height: 70px;
    padding: 5px;
    display: block;
    float: left;
}


header nav a {
    display: inline-block;
    font-size: 1.3em;
    color: var(--teksti);
    text-decoration: none;
    padding: 0.5em;
}

header nav a:hover {
    color: var(--tausta);
    background-color: #94c00d;
}

/* Ingressi-tyylit */
.ingressi {
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.6em;
    padding-left: 20px;
}

.ingressi::first-letter {
    float: left;
    font-size: 3.5em;
    line-height: 1em;
    font-weight: bold;
}
/* main-lohkon tyylit */
main {
    font-size: 1.5em;
    line-height: 1.5em;
    padding-top: 80px;
}

/* section-lohkon tyylit */
section {
    max-width: 1100px;
    width: 70%;
    margin: 20px auto;
}

/* showcase */
.showcase {
    padding: 40px 0;
    text-align: center;
    width: 100%;
    max-width: 100%;
    font-size: 1.7em;
    line-height: 1.7em;
    background-image: url('../img/showcase.jpg');
    background-position: center;
}

/* Ammattitaitovaatimukset */
.ammattitaitovaatimukset {
    padding: 0;
   
}

.ammattitaitovaatimukset > li {
    list-style-type: none;
}

.ammattitaitovaatimukset > li > ul {
    border-left: #94c00d solid 5px;
}

.ammattitaitovaatimukset > li > ul li {
    padding: 0;
    list-style-type: square;
}

.ammattitaitovaatimukset h1 {
    font-size: 1.7em;
}

/* Tutkinnonmuodostuminen */
.tutkinnonmuodostuminen {
    list-style-type: square;
    border-left: #94c00d solid 5px;
}

/* Footer */
footer {
    background-color: var(--bg-black);
    color: var(--teksti);
    padding: 40px 0;
    text-align: center;
    border-top: var(--teksti) solid 5px;
}