/* Projektin tyylit */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --tausta: #3b4451; /* #333333; */
    --teksti: #eeeeee;
    --bg-dark: #444444;
    --bg-black: #000000;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: var(--tausta);
    color: var(--teksti);
}

/* kriteerit muotoilu */
body.kriteerit2 table,
body.kriteerit2 th,
body.kriteerit2 td {
    border: 1px solid #eeeeee;
    color: var(--teksti)
}

/* Header */
header {
    background-color: var(--bg-black);
    color: var(--teksti);
    padding: 10px;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: var(--teksti) solid 5px;
}

header .logo {
    float: left;
    font-size: 2em;
}

header .logo img {
    height: 70px;
    padding: 5px;
    display: block;
    float: right;
}
header nav {
    float: center;

}

header nav a {
    display: inline-block;
    font-size: 1.5em;
    color: var(--teksti);
    text-decoration: none;
    padding: 0.5em;
}

header nav a:hover {
    color: var(--tausta);
    background-color: #94c00d;
}

.ingressi {
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.6em;

}

.ingressi::first-letter {
    float: left;
    font-size: 3.5em;
    line-height: 1em;
    font-weight: bold;
}
/* main-lohkon tyylit */
main {
    font-size: 1.5em;
    line-height: 1.5em;
    padding-top: 80px;
}



/* section-lohkon tyylit */

section {
    max-width: 1100px;
    width: 70%;
    margin: 20px auto;
}

/* showcase */
.showcase {
    padding: 40px 0;
    text-align: center;
    width: 100%;
    max-width: 100%;
    font-size: 1.7em;
    line-height: 1.7em;
    background-image: url('../img/showcase.jpg');
    background-position: center;
}

/* Footer */
footer {
    background-color: var(--bg-black);
    color: var(--teksti);
    padding: 40px 0;
    text-align: center;
    border-top: var(--teksti) solid 5px;
}